@import './variables';

// reset
* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}
html {
  font-size: 13px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #222;
  text-decoration: none;
  &:visited {
    color: #999;
    span {
      color: #999;
    }
  }
}
p {
  line-height: 1.5em;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}
// text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}
// text overflow
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-bold {
  font-weight: bold;
}
// width, height
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
// flex
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}
.flex-1 {
  flex: 1;
}
.flex-grow-1 {
  flex-grow: 1;
}

// m-0, mx-0
@each $typeKey, $type in $spacing-types {
  // .m-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }
  // .mx-1 , .my-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }
  // .mt-1
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}
// button
.btn {
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($font-sizes, 'sm') * $base-font-size;
  padding: 0.3rem 0.6rem;
  &.btn-lg {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: map-get($colors, 'primary');
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
    background: map-get($colors, 'white-1');
    border: 1px solid map-get($colors, 'white-2');
    padding: 0.8rem 1rem;
    font-size: 1rem;
  }
}
// nav
.nav {
  display: flex;
  .nav-item {
    border-bottom: 3px solid transparent;
    padding-bottom: 0.2rem;
    &.active {
      color: map-get($colors, 'primary');
      border-bottom-color: map-get($colors, 'primary');
    }
  }
  &.nav-inverse {
    .nav-item {
      color: map-get($colors, 'white');
      &.active {
        border-bottom-color: map-get($colors, 'white');
      }
    }
  }
}

// sprite
.sprite {
  width: 1.7692307692307692rem;
  height: 1.6384615384615385rem;
  background: url('../images/index.png') no-repeat 0 0;
  background-size: 28.8462rem;
  display: inline-block;
  &.sprite-news {
    background-position: 63.546% 15.517%;
  }
  &.sprite-story {
    background-position: 90.483% 15.614%;
  }
  &.sprite-store {
    background-position: 36.746% 0.924%;
  }
  &.sprite-quick {
    background-position: 10.408% 15.517%;
  }
  &.sprite-people {
    background-position: 89.733% 1.266%;
  }
  &.sprite-inherit {
    background-position: 36.467% 15.287%;
  }
  &.sprite-imitate {
    background-position: 9.302% 0.813%;
  }
  &.sprite-camp {
    background-position: 63.3% 0.927%;
  }
  &.sprite-public {
    background-position: 0 96.207%;
  }
  &.sprite-edition {
    background: url('../images/version-icon.png') no-repeat 33.333% 33.333%;
    background-size: 1.9230769230769231rem 1.9230769230769231rem;
  }
  &.sprite-station {
    background: url('../images/djhj.png') no-repeat 0 0;
    background-size: 2.6153846153846154rem 1.6153846153846154rem;
  }
  &.sprite-boundlessp {
    background: url('../images/wxwzt.png') no-repeat 0 0;
    background-size: 2.4615384615384617rem 0.6923076923076923rem;
  }
  &.sprite-boundlessp {
    background: url('../images/wxwzt.png') no-repeat 0 0;
    background-size: 2.4615384615384617rem 0.6923076923076923rem;
  }
  &.sprite-arrow-down {
    width: 0.7692rem;
    height: 0.7692rem;
    background-position: 38.577% 52.076%;
  }
  &.sprite-arrow-up {
    width: 0.7692rem;
    height: 0.7692rem;
    background-position: 38.577% 52.076%;
    transform: rotate(180deg);
  }
}
// borders
@each $dir in (top, right, bottom, left) {
  .border-#{$dir} {
    border-#{$dir}: 1px solid $border-color;
  }
}
