@font-face {
  font-family: "iconfont"; /* project id 1505880 */
  src: url("//at.alicdn.com/t/font_1505880_37qvs2900ds.eot");
  src: url("//at.alicdn.com/t/font_1505880_37qvs2900ds.eot?#iefix") format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1505880_37qvs2900ds.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1505880_37qvs2900ds.woff") format("woff"),
    url("//at.alicdn.com/t/font_1505880_37qvs2900ds.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1505880_37qvs2900ds.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e61f";
}

.icon-news:before {
  content: "\e662";
}

.icon-menu:before {
  content: "\e616";
}

.icon-card-hero:before {
  content: "\e620";
}

.icon-menu1:before {
  content: "\e638";
}

.icon-play:before {
  content: "\e645";
}
.icon-photo:before {
  content: "\e600";
}

.icon-chuzhuang:before {
  content: "\e690";
}

.icon-pk:before {
  content: "\e608";
}

.icon-guanxi:before {
  content: "\e72f";
}

.icon-mingwen:before {
  content: "\e628";
}

.icon-duikang:before {
  content: "\e601";
}

.icon-jiqiao:before {
  content: "\e603";
}

.icon-tuwen:before {
  content: "\e62f";
}

.icon-video:before {
  content: "\e60c";
}
